@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes swipe-left {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-100%);
    }
  }
  
  @keyframes swipe-right {
    from {
      transform: translateY(0);
    }
    to {
      transform: translateY(-100%);
    }
  }
  
  .animate-swipe-left {
    animation: swipe-left 0.3s forwards;
  }
  
  .animate-swipe-right {
    animation: swipe-right 0.3s forwards;
  }
  
  