.navbar {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 56px;
}

.arrow {
    width: 20px;
    height: 20px;
    flex-shrink: 0;
    stroke-width: 1.5px;
    stroke: #FFF;
    margin-left: 20px;
}

.arrow img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.logo {
    width: 80px;
    height: 32px;
    flex-shrink: 0;
    align-self: center;
}

.logo img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}